#virtual environments
venv/
env/
.venv/
.env/   

cdk.out/
*.pyc
__pycache__/
*.pyo
*.pyd
.Python     
.DS_Store 
.DS_Store
storage/cdk.out/tree.json
storage/cdk.out/MyAppStack.assets.json
storage/cdk.out/manifest.json
